{% extends "scheduling/base.html" %}
{% block title %}Book a meeting with {{ rules.host_name }}{% endblock %}
{% block content %}
  <header class="head">
    <h1>Book a meeting with {{ rules.host_name }}</h1>
    <p class="muted">
      {% if rules.offers_longer_meetings %}
        {{ rules.slot_minutes }}&ndash;{{ rules.max_minutes }} minute meetings
      {% else %}
        {{ rules.slot_minutes }}-minute meetings
      {% endif %}
      &middot; times shown in {{ rules.display_timezone }}
    </p>
  </header>

  {% include "scheduling/_planner.html" %}
{% endblock %}
